.icl_header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.icl_header h1 {
  margin: 0;
}

.icl_back {
  display: block;
  padding: 10px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.icl_variables-toggle {
  background-color: #fff;
}

.icl_variables-toggle .details-wrapper {
  overflow: auto;
}

.icl_variables-toggle[open] summary {
  border-bottom: 0;
}

.icl_variables-table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-top: 0;
  background-color: #fff;
}

.icl_variables-table th,
.icl_variables-table td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.icl_variables-table td {
  width: calc(40% / 3);
}

.icl_variables-table td.name,
.icl_variables-table td.type,
.icl_variables-table td.default {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.icl_variables-table td.default pre {
  margin: 0;
}

.icl_variables-table .description {
  width: 60%;
}

.icl_component-sample_details {
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 20px #e5e5e5;
  border-radius: 5px;
}

.icl_component-sample_view {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px #e5e5e5;
  border-radius: 5px;
}

.icl_readme {
  padding: 20px;
  background-color: #fff;
}

.icl_component-samples > ul {
  list-style: none;
  padding-left: 0;
}
