.icl_component-list {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.icl_component-list a {
  padding: 5px;
}

.icl_component-list a:hover {
  text-decoration: none;
}

.icl_search {
  padding: 5px 10px;
  width: 100%;
  max-width: 300px;
}
